
.container-om{
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    padding: 2rem;
    /* background-color: var(--bg-co); */
    background-color: var(--borderColor);


}

.desc-data{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
    /* padding: 2px; */
}
.desc-head{
    font-size: 26px;
    margin-bottom: 2rem;
    margin-left: -5rem;
    float: left;
    /* color: var(--text-color-white); */
}
.desc-para{
    max-width: 500px;
    margin-top: 0rem;
    margin-bottom: 2rem;
    /* margin-left: 4.5rem; */
    text-align:start;
    font-size: 1rem;
    font-weight: 500;
    /* color: var(--text-color-white); */
}
.read-link{
    text-align: left;
    margin-left: 4.5rem;
    font-size: 1rem;
    font-weight: 500;

}
.trview_moreee {
    background: var(--secondary-color-1);
    border: none;
    color: var(--text-color-white);
    font-size: 0.9rem;
    padding: 0.5em 1em;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto; /* Center button */
    display: block; /* Ensure button takes full width */
    /* margin-top: 1em;  */
    /* float: left; */
    margin-left: 0rem;
  }
.desc-image{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.desc-image .techo-img{
    object-fit: contain;
    width: 70%;
    max-width: 100%;
}

@media screen and (max-width: 786px) {
    .container-om{
        grid-template-columns: 100%;
        height: auto;
        margin-left: 0;
    }
    .desc-data{
        width: 100%;
    }
    .desc-para,
    .read-link {
      margin-left: 0;
      padding: 0.5rem;
      margin-top: 0;
      margin-bottom: 0;

    }
    
}