/* 

.topResearches {
  background: var(--background-color);
  padding: 2rem;
  font-size: 1.2em;
  color: var(--text-color-black);
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 3rem;
}

.trContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em auto;
  padding: 0;
}

.trContent {
  width: calc(24% - 1em); 
  background: #d9bff7;
  background: none;
  position: relative;
  text-align: center;
  padding: 0.5em;
  border-radius: 10px;
  margin-bottom: 1em; 
  margin-top: 2rem;
}

.trContent img {
  width: 100%;
  border-radius: 10px; 
  height: 240px;
}

.trContent p {
  margin: 0.5em 0; 
}

.trContent button {
  font-size: 1em;
  width: 100%;
  background-color: var(--secondary-color-1);
  color: var(--text-color-white);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em;
  border: none; 
  transition: background-color 0.3s ease; 
}

.trContent button:hover {
  background-color: var(--background-color);
  color: var(--text-color-black);
}

.trview_more {
  background: var(--secondary-color-1);
  border: none;
  color: var(--text-color-white);
  font-size: 1rem;
  padding: 0.7em 1.5em;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  display: block; 
  margin-top: 1em; 
  float: right;
}

@media screen and (max-width: 1270px) {
  .trContent {
    width: calc(30% - 1em);
  }
}

@media screen and (max-width: 1090px) {
  .trContent {
    width: calc(45% - 1em); 
  }
}

@media screen and (max-width: 730px) {
  .trContent {
    width: calc(90% - 1em); 
  }
} */


.expert-main{
  border: none;
}

.expert-main img{
  height: 250px;
}

