.vdf-main-bg{
    background-color: var(--borderColor);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vdf-card{
background-color: white;
border-radius: 10px;
padding: 10px;
font-family: Nunito;
max-width:70%;
}

.vdf-content{
    display: flex;
    margin: 25px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.vdf-label{
    margin-bottom: 8px;
}

.vdf-input{
    margin-bottom: 30px;
}

.rg-main-bg{
    background-color: var(--secondary-color-2);
    padding: 2%;
}

.rg-heading{
    font-family: Nunito;
    text-align: center;
}

.rg-back-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.rg-card{
    background-color: var(--surface-color);
    color: black;
    padding: 30px;
    border-radius: 10px;
    font-family: Nunito;
    display: flex;
    min-width: 80%;
    margin-bottom: 30px;
}

.rg-dp{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 5%;
}

.rg-divider{
    margin-right: 10%;
}

.rg-name{
    text-align: left;
}

.rg-buttonCont{
    display: flex;
    justify-content: flex-start;
}

.rg-btn{
    background-color: #3468C0;
    color: white;
    font-family: Nunito;
    font-size: 15px;
    margin-right: 15px;   
}

.rg-btn:hover{
    color: white;
    transform: scale(1.05);
}

.rg-btn-disabled{
    background-color: gray;
    color: white;
    font-family: Nunito;
    font-size: 15px;
    margin-right: 15px;   
}

.rg-btn-disabled:hover{
    background-color: gray;
    color: white;
}


/* .vdf-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} */