* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .sd-main-bg {
    background-color: var(--primary-color);
    display: flex;
    padding: 0px;
  }
  
  .sd-sidebar {
    background-color: var(--background-color);
    color: black;
    width: 20%;
    height: inherit;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 1s ease;
  }
  
  .sd-heading{
    font-size: 25px;
    font-family: Nunito;
    text-align: center;
  }

  .sd-dhead{
    font-size: 25px;
    font-family: Nunito;
    text-align: left;
    margin-left: 10px;
  }

  .sd-navlist{
    list-style-type:none;
    font-size: 20px;
    padding: 5px;
    margin: 20px;
    text-align: left;
    font-family: Nunito;
  }

  .sd-navlist li{
    margin-bottom: 20px;
  }

  .sd-calendar {
    background-color: var(--background-color);
    color: black;
    width: 20%;
    height: inherit;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
  }
  
  .sd-main-content {
    background-color: var(--border-color);
    color: black;
    width: 80%;
    height: max-content;
  }
  
  .sd-addressing {
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .sd-userimage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 5%;
  }
  
  .sd-status {
    background-color: var(--border-color);
    color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30%;
  }
  
  .sd-step-wizard-list {
    background-color: #F5F5F5;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
    max-width: 100%;
  }
  
  .sd-step-wizard-item {
    padding: 0 15px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 20%;
    position: relative;
  }
  
  .sd-step-wizard-item + .sd-step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background-color: var(--primary-color);
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
  }
  
  .sd-progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
  }
  
  .sd-progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    background: var(--primary-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }
  
  .sd-progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
  
  .sd-progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .sd-current-item .sd-progress-count:before,
  .sd-current-item ~ .sd-step-wizard-item .sd-progress-count:before {
    display: none;
  }
  
  .sd-current-item ~ .sd-step-wizard-item .sd-progress-count:after {
    height: 10px;
    width: 10px;
  }
  
  .sd-current-item ~ .sd-step-wizard-item .sd-progress-label {
    opacity: 0.5;
  }
  
  .sd-current-item .sd-progress-count:after {
    background: white;
    border: 2px solid var(--primary-color);
  }
  
  .sd-current-item .sd-progress-count {
    color: var(--primary-color);
  }
  
  .sd-currently-working {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: left;
    margin: 10px;
    border-radius: 10px;
  }
  
  .sd-notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: auto;
    /* max-width: 18rem; */
    height: auto;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: black;
    margin-bottom: 1rem; /* Add margin bottom for spacing */
  }
  
  .sd-notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: white;
    z-index: 2;
  }
  
  .sd-notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .sd-notification:hover:after {
    transform: translateX(0.15rem);
  }
  
  .sd-notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.5rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .sd-notification:hover .sd-notititle {
    transform: translateX(0.15rem);
  }
  
  .sd-notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .sd-notification:hover .sd-notibody {
    transform: translateX(0.25rem);
  }
  
  /* New styles for card */
  .sd-card {
    width: 100%;
    max-width: 290px;
    height: auto;
    background: #353535;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    margin-bottom: 1rem; /* Add margin bottom for spacing */
    padding: 15px;
  }
  
  .sd-card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .sd-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
  }
  
  .sd-card:hover > .sd-img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
  }
  
  .sd-textBox {
    width: calc(100% - 20px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .sd-textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
  
  .sd-span {
    font-size: 10px;
  }
  
  .sd-h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .sd-p {
    font-size: 12px;
    font-weight: lighter;
  }
  

  @media only screen and (max-width: 768px) {
    .sd-main-content {
      width: 100%; /* Adjust width to take full width on smaller screens */
    }

    .sd-navlist {
        display: none; /* Hide the navlist by default */
      }
  
      .sd-heading{
          font-size: 15px;
      }
  
      .sd-sidebar {
        width: 100%;
        min-width: 100%;
        border-top-right-radius: 0; /* Make the sidebar take full width */
        border-bottom-right-radius: 0;
      }
  
      .sd-main-bg{
        flex-direction: column;
      }

      .sd-calendar{
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .sd-card{
        width: 100%;
      }

  }
  
  .sd-close-btn {
    position: relative;
    top: 1px;
    right: 1px;
    left: 2px;
    background: none;
    border: none;
    color: red;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
  }
  
  .sd-bring-back-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color-1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
  }
  
  .sd-bring-back-btn:hover {
    background-color: var(--background-color);
    color: black;
    transform: scale(1.1);
    transition:all .5s ease;
  }
  