@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap');

.heading-expert{
/* margin-top: 5%; */
color: var(--secondary-color-1);
font-size: 40px;
font-family: Nunito;
margin-bottom: 2rem;
text-align: center;
}
.stat-main{
    max-width: 100% !important;
    /* background-color: var(--secondary-color-1); */
    margin-bottom: 1rem;



}

.stat-bg
{
    max-width: 100%;
    /* background-color: var(--secondary-color-2); */
    /* background-color: var(--surface-color); */

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 2%;
}

.stat-card
{
    /* background-color: white; */
    /* background-color: var(--secondary-color-2); */
    /* border: 5px double var(--secondary-color-2); */
    padding: 2%;
    font-family: Nunito;
    border-radius: 10px;
    width:30%;
    width: calc(30% - 20px);
}

.statfont{
    font-size: 40px;
    /* color: white; */
    color: black;

}
.statfont1{
    /* color: white; */
    color: black;

}