.common-pg-calender-container {
    overflow: hidden;
    min-width: 90vw;
    max-width: 90vw;
    justify-content: center;
    align-content: center;
    padding: 1rem 0 1rem 3rem;
    display: flex;
}

.common-pg-calendar {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: var(--surface-color);
    box-shadow: -1px 1px 10px var(--secondary-color-1);
    margin-bottom: 1%;
}

.common-pg-calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: var(--secondary-color-2);
}

.common-pg-schedule-calender-btns {
    background-color: var(--secondary-color-2);
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--text-color-black);
    font-weight: 500;
}

.common-pg-schedule-calender-btns:hover {
    background: var(--surface-color);
    color: var(--text-color-black);
    border: none;
}

.common-pg-calender-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}

.common-pg-calender-day {
    text-align: center;
    padding: 21%;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--background-color);
    cursor: pointer;
}

.prevMonthDay {
    color: #ccc;
}

.nextMonthDay {
    color: #ccc;
}

.currentDay span {
    background-color: var(--secondary-color-1);
    border-radius: 100%;
    color: var(--text-color-white);
    padding: 0.3rem;
}


@media (max-width: 480px) {
    .common-pg-calender-days {
        grid-template-columns: repeat(7, 1fr);
        font-size: 12px;
    }

    .common-pg-calender-day {
        padding: 3px;
    }

    .common-pg-calender-header {
        font-size: 14px;
    }

    .common-pg-schedule-calender-btns {
        font-size: 14px;
    }
}


/* .common-pg-calender-today {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    margin: 3rem;
} */

.commmon-pg-schedule-notes-btn {
    background: var(--surface-color);
    padding: 0.3rem;
    color: var(--text-color-black);
    margin: 0.5rem;
}

.common-pg-calender-task {
    flex: 0 90%;
}

.common-pg-calender-time {
    color: gray;
}

.common-pg-add-note {
    background: var(--secondary-color-1);
    border: none;
    box-shadow: 1px 1px 7px black;
    padding: 0.3rem;
    border-radius: 5px;
    color: var(--text-color-white);
}

.common-pg-add-note:hover {
    background: radial-gradient(var(--secondary-color-2), var(--secondary-color-1));
    color: var(--text-color-black);
}


.common-pg-day-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 1%
}


.common-pg-day-selection button {
    background: var(--surface-color);
    border: 0.5px solid var(--secondary-color-1);
    font-size: 12px;
    color: var(--text-color-black);
    margin: 1%;
}

.common-pg-day-selection button:hover {
    border: none;
    background: var(--secondary-color-2);
}


.common-pg-event-notes {
    position: relative;
    min-height: 100%;
    width: 50%;
}

.common-pg-note-event-heading {
    position: absolute;
    top: 1.5%;
    width: 100%;
    background: var(--secondary-color-1);
    margin-bottom: 1%;
    color: var(--text-color-white);
}

.common-pg-flip-card {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    margin: auto;
}

.common-pg-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.common-pg-flip-card.common-pg-event-card-flipped .common-pg-flip-card-inner {
    transform: rotateY(180deg);
}

.common-pg-flip-card form {
    min-width: 100%;
    position: relative;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.common-pg-flip-card form .row {
    min-width: 80%;
}


.common-pg-flip-card-front,
.common-pg-flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.common-pg-flip-card-front {
    background-color: var(--secondary-color-2);
    color: black;
    box-shadow: 1px 1px 5px var(--secondary-color-2);
}

.common-pg-flip-card-back {
    background-color: var(--secondary-color-2);
    color: white;
    transform: rotateY(180deg);
}

/* Additional styling for button and form */
.common-pg-notes-events-form button {
    margin: 2% 1% 3% 1%;
    padding: 4%;
    border-radius: 5px;
    border: none;
    background-color: var(--surface-color);
    color: var(--text-color-black);
    cursor: pointer;
    box-shadow: 0 0 5px black inset;
}

.common-pg-notes-events-form input {
    width: 100%;
    margin-bottom: 3%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 80%;
}

.common-pg-notes-events-form textarea {
    width: 90%;
    min-height: 150px;
    max-height: 200px;
    resize: vertical;
    overflow-y: auto;
    margin-bottom: 5%;
    padding: 2%;
}

.common-pg-notes-events-form label,
.common-pg-notes-events-form button {
    font-size: 80%;
}

.common-pg-notes-events-form button:hover {
    box-shadow: 0 0 5px black;
}

.common-pg-notes-events-form button[type="submit"] {
    color: var(--text-color-black);
    background-color: var(--secondary-color-3);
}

@media (max-width: 768px) {
    .common-pg-calender-container {
        display: flex;
        flex-direction: column;
    }

    .common-pg-flip-card-front {
        position: relative;
    }

}

.common-pg-calender-selectedDay {
    border: solid var(--secondary-color-1);
}

.common-pg-calender-dot {
    background: var(--secondary-color-1);
    width: 5px;
    height: 5px;
    border-radius: 50px;
}


.common-pg-note.row,
.common-pg-event.row {
    width: 100%;
    text-align: justify;
    padding: 1%;
    align-items: center;
    align-content: center;
}


.common-pg-note button,
.common-pg-event button {
    width: 5%;
    background: var(--background-color);
    color: var(--text-color-black);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}


.common-pg-task-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.common-pg-task-cards {
    min-width: 80%;
    border-radius: 5px;
    margin-bottom: 3%;
}

.common-pg-task-card {
    border: 1px solid rgb(177, 177, 177);
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.common-pg-task-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.common-pg-edit-form .row input {
    border-radius: 5px;
    padding: 2%;
    width: 90%;
    height: 50%;
    font-size: 1rem;
}
.common-pg-edit-form .row {
    width: 100%;
}

.common-pg-edit-form{
    align-self: center;
    padding: 1%;
}

.common-pg-schedule-btns{
    width: 70%;
    height: 100%;
    font-size: 70%;
    margin-left: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    background: var(--primary-color);
    color: var(--text-color-black);
}


.common-pg-edit-form textarea{
    padding: 1%;
    min-width: 250px;
    max-width: 700px;
resize: horizontal;
}