
.container-om1{
    max-width: 100%;
    /* width: 90vw; */
    height: 500px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 1rem;
    padding: 2rem;
    /* background-color: var(--color-lavender); */

}

.desc-data1{
    max-width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
    /* padding: 2px; */
}
.desc-head1{
    font-size: 20px;
    margin: 2rem;
}
.type {
    font-size:50px;
    display:inline-flex;
    /* border:2px solid red; */
  }
  
  .type span {
    height:1.2em;
    width:0%;
    word-break:break-all;
    overflow: hidden;
    color: var(--secondary-color-1);
    /* border:2px solid green; */
    animation:t 6s linear infinite alternate;
  }
  .type span:before {
    content:" ";
    display:inline-block;
  }
  
  @keyframes t{
    90%,100% {width:100%}
  }

.desc-para1{
    max-width: 500px;
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color-1);
}
/* .read-link1{
    text-align: left;
    margin-left: 1.3rem;
    font-size: 1rem;
    font-weight: 500;
} */
.desc-image1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    overflow: hidden;
}
.desc-image1{
    object-fit: contain;
    width: 90%;
    max-width: 100%;
}

@media screen and (max-width: 786px) {
    .container-om1{
        grid-template-columns: 100%;
        height: auto;
        margin-left: 0;
    }
    .desc-data1{
        width: 100%;
    }
    .desc-para1,
    .read-link1 {
      margin-left: 0;
      padding: 0.5rem;
      margin-top: 0;
      margin-bottom: 0;

    }
    
}